
.gitignore
.idea/
android-sdk/extras/google/play_apk_expansion/downloader_library/downloader_library.iml
android-sdk/extras/google/play_apk_expansion/downloader_library/gen/com/android/vending/expansion/downloader/Manifest.java
android-sdk/extras/google/play_licensing/library/gen/com/google/android/vending/licensing/Manifest.java
android-sdk/extras/google/play_licensing/library/gen/com/google/android/vending/licensing/R.java
android-sdk/extras/google/play_licensing/library/library.iml
src/cordova-plugin-xapkreader.iml
