<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.flyingsoftgames.xapkreader" version="0.9.0">
 <name>Cordova Expansion File Reader</name>
 <description>Easily access Google Play APK expansion file data.</description>
 <author>Michael Romanovsky</author>
 <license>MIT (see readme.md)</license>
 <keywords>cordova,apk,expansion,file,xapk,expansion file reader,xapk reader,xapkreader,android,agamemnus,flyingsoftgames</keywords>
 <engines><engine name="cordova" version=">=3.0.0" /></engines>
 
 <platform name="android">
  
  <config-file target="res/xml/config.xml" parent="/*">
   <feature name="XAPKReader">
    <param name="android-package" value="com.flyingsoftgames.xapkreader.XAPKReader"/>
    <param name="onload" value="true" />
   </feature>
  </config-file>
  
  <source-file src="res/values/xapkreader.xml" target-dir="res/values" />
  <config-file target="res/values/xapkreader.xml" parent="/*">
   <string name="xapk_expansion_authority">com.sample.expansion</string>
   <string name="xapk_google_play_public_key">YOUR_GOOGLE_PLAY_LICENSE_KEY</string>
   <string name="xapk_text_downloading_assets">Downloading assets…</string>
   <string name="xapk_text_preparing_assets">Preparing assets…</string>
   <string name="xapk_text_download_failed">Download failed.</string>
   <string name="xapk_text_error">Error.</string>
   <string name="xapk_text_close">Close.</string>
   <integer name="xapk_main_version">0</integer>
   <integer name="xapk_patch_version">0</integer>
   <integer name="xapk_main_file_size">0</integer>
   <integer name="xapk_patch_file_size">0</integer>
  </config-file>
  
  <source-file src="src/android/XAPKAlarmReceiver.java"      target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKDownloaderActivity.java" target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKDownloaderService.java"  target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKExpansionSupport.java"   target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKProvider.java"           target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKReader.java"             target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKZipResourceFile.java"    target-dir="src/com/flyingsoftgames/xapkreader" />
  
  <config-file target="AndroidManifest.xml" parent="/manifest">
   <!-- Required to download files from Google Play -->
   <uses-permission android:name="android.permission.INTERNET" />
   <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <!-- Required to poll the state of the network connection and respond to changes -->
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <!-- Required to check whether Wi-Fi is enabled -->
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
   <!-- Required to read and write the expansion files on shared storage -->
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <!-- Required to access Google Play Licensing -->
   <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
  </config-file>
  
  <config-file target="AndroidManifest.xml" parent="application">
   <activity android:name="com.flyingsoftgames.xapkreader.XAPKDownloaderActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale">
    <intent-filter></intent-filter>
   </activity>
   <service android:name="com.flyingsoftgames.xapkreader.XAPKDownloaderService" />
   <receiver android:name="com.flyingsoftgames.xapkreader.XAPKAlarmReceiver" />
   <provider android:authorities="@string/xapk_expansion_authority" android:exported="false" android:multiprocess="true" android:name="com.flyingsoftgames.xapkreader.XAPKProvider" />
  </config-file>
  
  <info> See the README.md file to complete your installation.</info>
  
 </platform>
</plugin>
