<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.flyingsoftgames.xapkreader" version="0.9.1">
 <name>Cordova Expansion File Reader</name>
 <description>Easily access Google Play APK expansion file data.</description>
 <author>Michael Romanovsky</author>
 <license>MIT (see readme.md)</license>
 <keywords>cordova,apk,expansion,file,xapk,expansion file reader,xapk reader,xapkreader,android,agamemnus,flyingsoftgames</keywords>
 <engines><engine name="cordova" version=">=4.1.1" /></engines>
 
 <platform name="android">
 
  <framework src="com.google.android.gms:play-services-base:+" />
 
  <js-module src="www/XAPKReader.js" name="XAPKReader">
   <clobbers target="XAPKReader"/>
  </js-module>
  
  <config-file target="res/xml/config.xml" parent="/*">
   <feature name="XAPKReader">
    <param name="android-package" value="com.flyingsoftgames.xapkreader.XAPKReader"/>
    <param name="onload" value="true" />
   </feature>
  </config-file>

  <preference name="XAPK_EXPANSION_AUTHORITY" default="$PACKAGE_NAME" />
  <preference name="XAPK_PUBLIC_KEY" default="YOUR_GOOGLE_PLAY_LICENSE_KEY" />
  <preference name="XAPK_TEXT_DL_ASSETS" default="Downloading assets…" />
  <preference name="XAPK_TEXT_PR_ASSETS" default="Preparing assets…" />
  <preference name="XAPK_TEXT_DL_FAILED" default="Download failed." />
  <preference name="XAPK_TEXT_ERROR" default="Error." />
  <preference name="XAPK_TEXT_CLOSE" default="Close." />
  <preference name="XAPK_MAIN_VERSION" default="0" />
  <preference name="XAPK_PATCH_VERSION" default="0" />
  <preference name="XAPK_MAIN_FILESIZE" default="0" />
  <preference name="XAPK_PATCH_FILESIZE" default="0" />
  <preference name="XAPK_AUTO_DOWNLOAD" default="true" />
  <preference name="XAPK_PROGRESS_FORMAT" default="percent" />

  <source-file src="res/values/xapkreader.xml" target-dir="res/values" />
  <config-file target="res/values/xapkreader.xml" parent="/*">
   <string name="xapk_expansion_authority">$XAPK_EXPANSION_AUTHORITY</string>
   <string name="xapk_google_play_public_key">$XAPK_PUBLIC_KEY</string>
   <string name="xapk_text_downloading_assets">$XAPK_TEXT_DL_ASSETS</string>
   <string name="xapk_text_preparing_assets">$XAPK_TEXT_PR_ASSETS</string>
   <string name="xapk_text_download_failed">$XAPK_TEXT_DL_FAILED</string>
   <string name="xapk_text_error">$XAPK_TEXT_ERROR</string>
   <string name="xapk_text_close">$XAPK_TEXT_CLOSE</string>
   <integer name="xapk_main_version">$XAPK_MAIN_VERSION</integer>
   <integer name="xapk_patch_version">$XAPK_PATCH_VERSION</integer>
   <integer name="xapk_main_file_size">$XAPK_MAIN_FILESIZE</integer>
   <integer name="xapk_patch_file_size">$XAPK_PATCH_FILESIZE</integer>
   <bool name="xapk_auto_download">$XAPK_AUTO_DOWNLOAD</bool>
   <string name="xapk_progress_format">$XAPK_PROGRESS_FORMAT</string>
  </config-file>
  
  <source-file src="src/android/XAPKAlarmReceiver.java"      target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKDownloaderActivity.java" target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKDownloaderService.java"  target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKExpansionSupport.java"   target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKProvider.java"           target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKReader.java"             target-dir="src/com/flyingsoftgames/xapkreader" />
  <source-file src="src/android/XAPKZipResourceFile.java"    target-dir="src/com/flyingsoftgames/xapkreader" />
  
  <framework src="android-sdk/extras/google/play_apk_expansion/downloader_library" custom="true"/>
  <framework src="android-sdk/extras/google/play_licensing/library" custom="true" />
  
  <config-file target="AndroidManifest.xml" parent="/manifest">
   <!-- Required to download files from Google Play -->
   <uses-permission android:name="android.permission.INTERNET" />
   <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <!-- Required to poll the state of the network connection and respond to changes -->
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <!-- Required to check whether Wi-Fi is enabled -->
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
   <!-- Required to read and write the expansion files on shared storage -->
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <!-- Required to access Google Play Licensing -->
   <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
  </config-file>
  
  <config-file target="AndroidManifest.xml" parent="application">
   <activity android:name="com.flyingsoftgames.xapkreader.XAPKDownloaderActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale">
   </activity>
   <service android:name="com.flyingsoftgames.xapkreader.XAPKDownloaderService" />
   <receiver android:name="com.flyingsoftgames.xapkreader.XAPKAlarmReceiver" />
   <provider android:authorities="@string/xapk_expansion_authority" android:exported="false" android:multiprocess="true" android:name="com.flyingsoftgames.xapkreader.XAPKProvider" />
  </config-file>
  
  <info> See the README.md file to complete your installation.</info>
  
 </platform>
</plugin>
